<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Hotel_Management_System_2020.Properties.Settings.Hotel_Management_System_2020_2003ConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\Hotel_Management_System_2020_2003.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>